@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --sky-blue: #0ea5e9;
  --sky-blue-light: #7dd3fc;
  --sky-blue-lighter: #e0f2fe;
  --orange: #f97316;
  --orange-light: #fdba74;
  --orange-lighter: #ffedd5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
